/* Biblioteca */

.biblioteca-categorias {
  max-width: 26rem;
  margin-top: 1.5rem;
  padding-bottom: 8rem;
}

.biblioteca-categorias__selector select {
  width: 100%;
}

.biblioteca-libros__imagen-wrapper {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.biblioteca-libros__imagen {
  max-height: 180px;
  width: auto;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 736px) {
  .biblioteca-categorias {
    max-width: none;
    padding-bottom: 10rem;
  }
}